<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="AppLocal.config">
    <add key="host" value="" />
    <add key="port" value="6379" />
    <add key="password" value="" />
  </appSettings>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="csredis" switchValue="Verbose">
        <listeners>
          <add
            name="csredis.XmlWriterTraceListener"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="csredis.svclog"
            traceOutputOptions="LogicalOperationStack,Callstack"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>